.nav-link{
    color: rgb(0, 0, 0) ;
    transition: all .5 cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link:hover{
    background-color: rgb(226, 224, 224) ;
    color:darkgreen;
}
.nav-link.active{
     color: rgb(255, 255, 255) ;
    background-color:darkgreen;
      transition: all .5 cubic-bezier(0.075, 0.82, 0.165, 1);
}
